<!DOCTYPE html>
<html ng-app="dwGuide">
<head>
    <title>AngularJS | Workshop</title>
    <meta name="description" content="">
    <meta name="author" content="Todd Isaacs && Todd Shelton">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>

<!-- header -->
<div id="app-wrapper" ng-controller="AppCtrl">
    <nav>
        <a href="#home" id="home" ><img src="assets/images/dwiLogoSmall.png"></a>
        <button class="speakers" ng-click="showSpeakers()">SPEAKERS</button>

        <button class="sessions" ng-click="showSessions()">SESSIONS</button>

        <button class="sessions" ng-click="login()" ng-show="!currentUser">LOGIN</button>

        <button class="sessions" ng-click="logout()" ng-show="currentUser">LOGOUT</button>

    </nav>

    <div ng-view></div>
</div>


<!-- Libraries -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
<script type="text/javascript" src="bower_components/angularfire/angularfire.js"></script>
<script type="text/javascript" src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>

<!-- application -->
<script src="src/app.js"></script>
<script src="src/auth/auth.js"></script>
<script src="src/speakers/speakers.js"></script>
<script src="src/sessions/sessions.js"></script>
<script src="src/service/angularFire.js"></script>

</body>
</html>