<div class="view speakerView">
    <div class="addASpeaker" ng-show="currentUser">
        <button ng-click="addEditSpeaker()">Add Speaker</button>
    </div>

    <div class="speakerHolder">
        <div class="speaker clear" ng-repeat="(id, speaker) in speakers">
            <div class="speakerHolder">

                <img ng-src="{{speaker.image}}">

            <div class="infoHolder">
                <h3>Name:</h3>

                <p>{{speaker.name}}</p>

                <h3>Session:</h3>

                <ul>
                    <li ng-repeat="sessionId in speaker.sessions" ng-init="sessionName=getSessionName(sessionId)">
                        <a ng-href="#/sessions/{{sessionId}}">{{sessionName}}</a>
                    </li>
                </ul>
                <p><a ng-href="#/sessions/sessionId">{{sessionId}}</a></p>

                <h3>Company:</h3>

                <p>{{speaker.company}}</p>

                <h3>Bio:</h3>

                <p>{{speaker.shortbio}}</p>

                <h3>Twitter:</h3>

                <p>{{speaker.twitter}}</p>

                <h3>Web site:</h3>

                <p><a href="http://{{speaker.website}}" target="_blank">{{speaker.website}}</a></p>

                <button ng-click="addEditSpeaker(id)" ng-show="currentUser">Edit</button>
                <button ng-click="deleteSpeaker(id)" ng-show="currentUser">Delete</button>
            </div>
            </div>
        </div>

    </div>
</div>
